<!DOCTYPE html>
<html>
    <h1> hello world to everyone!!</h1>
<body>

<!--<form accept-charset="UTF-8"method="post"action="/users">-->
<!--    <input type="hidden" name="authenticity_token" -->
<!--         value="<%form_authenticity_token %>">-->
<!--    <div>username: <input type="text"name="user[username]" ></div><br>-->
<!--    <div>email: <input type="text" name="user[email]"></div><br>-->
<!--    <div>password: <input type="password" name="user[password]"></div><br>-->
<!--    <div><input type="submit" value="Submit"></div>-->
<!--</form>-->



</body>
</html>
